h1 Панель управления
.well.well-sm
	form(name="userForm" novalidate ng-submit="admin.createItem(userForm, 'users', user)")
		.form-group
			label(for="user") User:
			input#user.form-control(type="text" ng-model="user.name" placeholder="Enter name" required)
		.form-group
			.row
				.col-xs-6.col-md-4
					label(for="userCity") City:
					select#userCity(select2 category="cities" on-select="admin.onSelect(category, item)")
						option(value="init" selected) Select city
						option(ng-repeat="city in admin.cities" ng-bind="city.name" ng-value="city._id")
				.col-xs-6.col-md-4
					label(for="userInstitution") Institution:
					select#userInstitution(select2 category="institutions" on-select="admin.onSelect(category, item)")
						option(value="init" selected) Select institution
						option(ng-repeat="institution in admin.institutions" ng-bind="institution.name" ng-value="institution._id")
		.form-group
			button.btn.btn-default(type="submit") Submit

table.table.table-bordered.table-condensed(ng-cloak)
	thead
		tr
			th Name
			th City
			th Institution
			th Date
			th Actions
	tbody
		tr(ng-repeat="user in admin.users")
			td(ng-bind="::user.name")
			td(ng-bind="::user.city.name")
			td(ng-bind="::user.institution.name")
			td(ng-bind="::user.created")
			td
				button.btn.btn-default(ng-click="admin.deleteItem('users', user)")
					i.glyphicon.glyphicon-trash

hr
.well.well-sm
	form(name="cityForm" novalidate ng-submit="admin.createItem(cityForm, 'cities', city)")
		.form-group
			label(for="city") City:
			input#city.form-control(type="text" ng-model="city.name" placeholder="Enter name" required)
		.form-group
			button.btn.btn-default(type="submit") Submit

table.table.table-bordered.table-condensed(ng-cloak)
	thead
		tr
			th Name
			th Date
			th Actions
	tbody
		tr(ng-repeat="city in admin.cities")
			td(ng-bind="::city.name")
			td(ng-bind="::city.created")
			td
				button.btn.btn-default(ng-click="admin.deleteItem('cities', city)")
					i.glyphicon.glyphicon-trash

hr
.well.well-sm
	form(name="institutionForm" novalidate ng-submit="admin.createItem(institutionForm, 'institutions', institution)")
		.form-group
			label(for="institution") Institution:
			input#institution.form-control(type="text" ng-model="institution.name" placeholder="Enter name" required)
		.form-group
			button.btn.btn-default(type="submit") Submit

table.table.table-bordered.table-condensed(ng-cloak)
	thead
		tr
			th #
			th Name
			th Date
			th Actions
	tbody
		tr(ng-repeat="institution in admin.institutions")
			td(ng-bind="$index+1")
			td(ng-bind="::institution.name")
			td(ng-bind="::institution.created")
			td
				button.btn.btn-default(ng-click="admin.deleteItem('institutions', institution)")
					i.glyphicon.glyphicon-trash


