//- Created by jgluhov on 09/02/16.
h1 Admin
.well.well-sm
	form(name="usersForm" novalidate ng-submit="admin.submitForm(user, usersForm)")
		.form-group
			label(for="user") User:
			input#user.form-control(type="text" ng-model="user" placeholder="Enter name" required)
		.form-group
			button.btn.btn-default(type="submit") Submit

table.table.table-bordered
	thead
		tr
			th Name
			th Date
			th Actions
	tbody
		tr(ng-repeat="user in users")
			td(ng-bind="user.name")
			td(ng-bind="user.created")
			td
				button.btn.btn-default(ng-click="admin.deleteItem(user,'users')")
					i.glyphicon.glyphicon-trash

hr
.well.well-sm
	form(name="citiesForm" novalidate ng-submit="admin.submitForm(citiesForm)")
		.form-group
			label(for="city") City:
			input#city.form-control(type="text" ng-model="city" placeholder="Enter name" required)
		.form-group
			button.btn.btn-default(type="submit") Submit
hr
.well.well-sm
	form(name="institutionsForm" novalidate ng-submit="admin.submitForm(institutionsForm)")
		.form-group
			label(for="institution") Institution:
			input#institution.form-control(type="text" ng-model="institution" placeholder="Enter name" required)
		.form-group
			button.btn.btn-default(type="submit") Submit