form[name="filterForm"]
  .form-group
    margin-bottom 0
  .select2
    margin-bottom 10px
  .list-filter
    li
      &.list-group-item
        padding 2px 15px
        line-height 30px
        >.badge
          cursor pointer
          position relative
          top 5px