h1 Пользователи

table.table.table-bordered(datatable="ng" dt-options="home.dtOptions")
	thead
		tr
			th #
			th Пользователь
			th Образование
			th Город
	tbody
		tr(ng-repeat="user in home.users track by user._id")
			td(ng-bind="$index+1")
			td(ng-bind="::user.name")
			td(ng-bind="::user.institution.name")
			td(ng-bind="::user.city.name")

.well.well-sm
	form(name="filterForm" novalidate ng-submit="home.onFilterApply()")
		.form-group
			.row
				.col-xs-3
					label.sr-only(for="userCity") City:
					select#userCity(select2 category="cities" on-select="home.onSelect(category, item)")
						option(value="init" selected) Select city filter
						option(ng-repeat="city in home.cities" ng-bind="city.name" ng-value="city._id")

					ul.list-group.list-filter
						li.list-group-item(ng-repeat="city in filter.cities")
							span.badge(ng-click="home.onFilterRemove('cities', city)") x
							| {{city.name}}
					.clearfix
				.col-xs-7
					label.sr-only(for="userInstitution") Institution:
					select#userInstitution(select2 category="institutions" on-select="home.onSelect(category, item)")
						option(value="init" selected) Select institution filter
						option(ng-repeat="institution in home.institutions" ng-bind="institution.name" ng-value="institution._id")

					ul.list-group.list-filter
						li.list-group-item(ng-repeat="institution in filter.institutions")
							span.badge(ng-click="home.onFilterRemove('institutions', institution)") x
							| {{institution.name}}
				.col-xs-2
					button.btn.btn-default.btn-block(type="submit") Apply